config/xsd/cdk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.dmotorworks.com/service-repair-order-open" xmlns:s="http://www.dmotorworks.com/service-repair-order-open">
    <xs:element name="ServiceRODetailOpen">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:service-repair-order-open"/>
                <xs:element ref="s:ErrorCode"/>
                <xs:element ref="s:ErrorMessage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="service-repair-order-open">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:PostedDate"/>
                <xs:element ref="s:SpecialCustFlag"/>
                <xs:element ref="s:VIN"/>
                <xs:element ref="s:disDebitAccountNo"/>
                <xs:element ref="s:disUserID"/>
                <xs:element ref="s:feeOpCodeDesc"/>
                <xs:element ref="s:hrsActualHours"/>
                <xs:element ref="s:prtBin1"/>
                <xs:element ref="s:prtClass"/>
                <xs:element ref="s:PurchaseOrderNo"/>
                <xs:element ref="s:prtDesc"/>
                <xs:element ref="s:lbrCost"/>
                <xs:element ref="s:WaiterFlag"/>
                <xs:element ref="s:linCause"/>
                <xs:element ref="s:prtSource"/>
                <xs:element ref="s:prtCoreSale"/>
                <xs:element ref="s:totLocalTax"/>
                <xs:element ref="s:ApptTime"/>
                <xs:element ref="s:lbrLaborType"/>
                <xs:element ref="s:CityStateZip"/>
                <xs:element ref="s:Comments"/>
                <xs:element ref="s:ContactEmailAddress"/>
                <xs:element ref="s:OrigPromisedDate"/>
                <xs:element ref="s:RONumber"/>
                <xs:element ref="s:ServiceAdvisor"/>
                <xs:element ref="s:disDebitTargetCo"/>
                <xs:element ref="s:feeOpCode"/>
                <xs:element ref="s:hrsCost"/>
                <xs:element ref="s:hrsPercentage"/>
                <xs:element ref="s:lbrSequenceNo"/>
                <xs:element ref="s:linServiceRequest"/>
                <xs:element ref="s:prtSpecialStatus"/>
                <xs:element ref="s:rapApptID"/>
                <xs:element ref="s:totLubeSale"/>
                <xs:element ref="s:totSoldHours"/>
                <xs:element ref="s:payInsuranceFlag"/>
                <xs:element ref="s:lbrOpCode"/>
                <xs:element ref="s:ClosedDate"/>
                <xs:element ref="s:ErrorLevel"/>
                <xs:element ref="s:Name2"/>
                <xs:element ref="s:OpenDate"/>
                <xs:element ref="s:VehID"/>
                <xs:element ref="s:hrsHourType"/>
                <xs:element ref="s:hrsLaborType"/>
                <xs:element ref="s:hrsTechNo"/>
                <xs:element ref="s:lbrTechNo"/>
                <xs:element ref="s:lbrTimeCardHours"/>
                <xs:element ref="s:linEstDuration"/>
                <xs:element ref="s:prtUnitServiceCharge"/>
                <xs:element ref="s:totPartsSale"/>
                <xs:element ref="s:totShopChargeSale"/>
                <xs:element ref="s:totSupp4Tax"/>
                <xs:element ref="s:warFailureCode"/>
                <xs:element ref="s:prtComp"/>
                <xs:element ref="s:prtCoreCost"/>
                <xs:element ref="s:Mileage"/>
                <xs:element ref="s:Address"/>
                <xs:element ref="s:ComebackFlag"/>
                <xs:element ref="s:ContactPhoneNumber"/>
                <xs:element ref="s:EstComplDate"/>
                <xs:element ref="s:MakeDesc"/>
                <xs:element ref="s:OrigPromisedTime"/>
                <xs:element ref="s:Remarks"/>
                <xs:element ref="s:VehicleColor"/>
                <xs:element ref="s:feeFeeID"/>
                <xs:element ref="s:hrsLineCode"/>
                <xs:element ref="s:hrsOtherHours"/>
                <xs:element ref="s:lbrOpCodeDesc"/>
                <xs:element ref="s:prtOutsideSalesmanNo"/>
                <xs:element ref="s:prtSale"/>
                <xs:element ref="s:prtCompLineCode"/>
                <xs:element ref="s:BookedDate"/>
                <xs:element ref="s:EstComplTime"/>
                <xs:element ref="s:MileageOut"/>
                <xs:element ref="s:Model"/>
                <xs:element ref="s:SoldByDealerFlag"/>
                <xs:element ref="s:TagNo"/>
                <xs:element ref="s:feeLineCode"/>
                <xs:element ref="s:linComplaintCode"/>
                <xs:element ref="s:prtEmployeeNo"/>
                <xs:element ref="s:prtLaborType"/>
                <xs:element ref="s:prtPartNo"/>
                <xs:element ref="s:totRoSale"/>
                <xs:element ref="s:linStoryEmployeeNo"/>
                <xs:element ref="s:AddOnFlag"/>
                <xs:element ref="s:ApptFlag"/>
                <xs:element ref="s:lbrMcdPercentage"/>
                <xs:element ref="s:LastServiceDate"/>
                <xs:element ref="s:OrigWaiterFlag"/>
                <xs:element ref="s:PriorityValue"/>
                <xs:element ref="s:RentalFlag"/>
                <xs:element ref="s:Year"/>
                <xs:element ref="s:disDebitControlNo"/>
                <xs:element ref="s:lbrSale"/>
                <xs:element ref="s:linComebackFlag"/>
                <xs:element ref="s:linDispatchCode"/>
                <xs:element ref="s:totLaborSale"/>
                <xs:element ref="s:totMiscSale"/>
                <xs:element ref="s:ApptDate"/>
                <xs:element ref="s:DeliveryDate"/>
                <xs:element ref="s:ErrorMessage"/>
                <xs:element ref="s:Make"/>
                <xs:element ref="s:MileageLastVisit"/>
                <xs:element ref="s:PromisedTime"/>
                <xs:element ref="s:VoidedDate"/>
                <xs:element ref="s:feeCost"/>
                <xs:element ref="s:hrsSoldHours"/>
                <xs:element ref="s:linCampaignCode"/>
                <xs:element ref="s:linStatusCode"/>
                <xs:element ref="s:linStatusDesc"/>
                <xs:element ref="s:prtQtyOrdered"/>
                <xs:element ref="s:prtQtySold"/>
                <xs:element ref="s:totLaborCost"/>
                <xs:element ref="s:totMiscCost"/>
                <xs:element ref="s:totPartsCost"/>
                <xs:element ref="s:totSubletSale"/>
                <xs:element ref="s:totSupp3Tax"/>
                <xs:element ref="s:BookerNo"/>
                <xs:element ref="s:Cashier"/>
                <xs:element ref="s:CustNo"/>
                <xs:element ref="s:HostItemID"/>
                <xs:element ref="s:Name1"/>
                <xs:element ref="s:PromisedDate"/>
                <xs:element ref="s:feeLaborType"/>
                <xs:element ref="s:hrsSale"/>
                <xs:element ref="s:linLineCode"/>
                <xs:element ref="s:prtCost"/>
                <xs:element ref="s:prtList"/>
                <xs:element ref="s:prtMcdPercentage"/>
                <xs:element ref="s:totStateTax"/>
                <xs:element ref="s:totSupp2Tax"/>
                <xs:element ref="s:mlsType"/>
                <xs:element ref="s:punWorkType"/>
                <xs:element ref="s:punMultivalueCount"/>
                <xs:element ref="s:punTechNo"/>
                <xs:element ref="s:punTimeOn"/>
                <xs:element ref="s:punWorkDate"/>
                <xs:element ref="s:punTimeOff"/>
                <xs:element ref="s:punDuration"/>
                <xs:element ref="s:punLineCode"/>
                <xs:element ref="s:BookedTime"/>
                <xs:element ref="s:disLevel"/>
                <xs:element ref="s:disMultivalueCount"/>
                <xs:element ref="s:feeType"/>
                <xs:element ref="s:totLaborCount"/>
                <xs:element ref="s:dedMaximumAmount"/>
                <xs:element ref="s:disLaborDiscount"/>
                <xs:element ref="s:feeSale"/>
                <xs:element ref="s:linStoryText"/>
                <xs:element ref="s:mlsMultivalueCount"/>
                <xs:element ref="s:PhoneDesc"/>
                <xs:element ref="s:PhoneExt"/>
                <xs:element ref="s:punAlteredFlag"/>
                <xs:element ref="s:StatusDesc"/>
                <xs:element ref="s:BlockAutoMsg"/>
                <xs:element ref="s:disClassOrType"/>
                <xs:element ref="s:lbrFlagHours"/>
                <xs:element ref="s:lbrComebackTech"/>
                <xs:element ref="s:totCoreCost"/>
                <xs:element ref="s:feeLOPorPartSeqNo"/>
                <xs:element ref="s:payPaymentsMade"/>
                <xs:element ref="s:totPayType"/>
                <xs:element ref="s:mlsOpCode"/>
                <xs:element ref="s:warLaborSequenceNo"/>
                <xs:element ref="s:dedMultivalueCount"/>
                <xs:element ref="s:hrsMultivalueCount"/>
                <xs:element ref="s:lbrOperationType"/>
                <xs:element ref="s:disTotalDiscount"/>
                <xs:element ref="s:ModelDesc"/>
                <xs:element ref="s:totLubeCost"/>
                <xs:element ref="s:payPaymentAmount"/>
                <xs:element ref="s:totActualHours"/>
                <xs:element ref="s:HasIntPayFlag"/>
                <xs:element ref="s:LicenseNumber"/>
                <xs:element ref="s:mlsLaborType"/>
                <xs:element ref="s:mlsSequenceNo"/>
                <xs:element ref="s:payMultivalueCount"/>
                <xs:element ref="s:prtExtendedSale"/>
                <xs:element ref="s:prtLaborSequenceNo"/>
                <xs:element ref="s:StatusCode"/>
                <xs:element ref="s:totLaborDiscount"/>
                <xs:element ref="s:totOtherHours"/>
                <xs:element ref="s:totTimeCardHours"/>
                <xs:element ref="s:dedLineCodes"/>
                <xs:element ref="s:disDiscountID"/>
                <xs:element ref="s:disOverridePercent"/>
                <xs:element ref="s:EmailAddress"/>
                <xs:element ref="s:hrsFlagHours"/>
                <xs:element ref="s:hrsTimeCardHours"/>
                <xs:element ref="s:lbrLineCode"/>
                <xs:element ref="s:lbrSoldHours"/>
                <xs:element ref="s:linBookerNo"/>
                <xs:element ref="s:LotLocation"/>
                <xs:element ref="s:mlsOpCodeDesc"/>
                <xs:element ref="s:OpenTime"/>
                <xs:element ref="s:PhoneNumber"/>
                <xs:element ref="s:warFailedPartsCount"/>
                <xs:element ref="s:dedSequenceNo"/>
                <xs:element ref="s:disLopSeqNo"/>
                <xs:element ref="s:disOverrideTarget"/>
                <xs:element ref="s:feeLOPorPartFlag"/>
                <xs:element ref="s:feeMultivalueCount"/>
                <xs:element ref="s:HasCustPayFlag"/>
                <xs:element ref="s:lbrComebackRO"/>
                <xs:element ref="s:lbrComebackSA"/>
                <xs:element ref="s:lbrForcedShopCharge"/>
                <xs:element ref="s:totFlagHours"/>
                <xs:element ref="s:totMultivalueCount"/>
                <xs:element ref="s:totShopChargeCost"/>
                <xs:element ref="s:totSubletCount"/>
                <xs:element ref="s:warAuthorizationCode"/>
                <xs:element ref="s:warClaimType"/>
                <xs:element ref="s:warConditionCode"/>
                <xs:element ref="s:warLineCode"/>
                <xs:element ref="s:warMultivalueCount"/>
                <xs:element ref="s:dedActualAmount"/>
                <xs:element ref="s:dedLaborType"/>
                <xs:element ref="s:disAppliedBy"/>
                <xs:element ref="s:disDesc"/>
                <xs:element ref="s:disManagerOverride"/>
                <xs:element ref="s:disOverrideGPPercent"/>
                <xs:element ref="s:hrsMcdPercentage"/>
                <xs:element ref="s:lbrOtherHours"/>
                <xs:element ref="s:mlsMcdPercentage"/>
                <xs:element ref="s:payCPTotal"/>
                <xs:element ref="s:payPaymentCode"/>
                <xs:element ref="s:PhoneMultivalueCount"/>
                <xs:element ref="s:prtExtendedCost"/>
                <xs:element ref="s:totDiscount"/>
                <xs:element ref="s:totPartsDiscount"/>
                <xs:element ref="s:totRoSalePostDed"/>
                <xs:element ref="s:dedPartsAmount"/>
                <xs:element ref="s:disOverrideAmount"/>
                <xs:element ref="s:disSequenceNo"/>
                <xs:element ref="s:EmailDesc"/>
                <xs:element ref="s:feeSequenceNo"/>
                <xs:element ref="s:linMultivalueCount"/>
                <xs:element ref="s:linStorySequenceNo"/>
                <xs:element ref="s:prtLineCode"/>
                <xs:element ref="s:prtMultivalueCount"/>
                <xs:element ref="s:prtSequenceNo"/>
                <xs:element ref="s:rapMultivalueCount"/>
                <xs:element ref="s:totLaborSalePostDed"/>
                <xs:element ref="s:totLubeCount"/>
                <xs:element ref="s:totPartsSalePostDed"/>
                <xs:element ref="s:totRoCost"/>
                <xs:element ref="s:totRoTax"/>
                <xs:element ref="s:totSubletCost"/>
                <xs:element ref="s:dedLaborAmount"/>
                <xs:element ref="s:disLineCode"/>
                <xs:element ref="s:disOriginalDiscount"/>
                <xs:element ref="s:disOverrideGPAmount"/>
                <xs:element ref="s:disPartsDiscount"/>
                <xs:element ref="s:EmailMultivalueCount"/>
                <xs:element ref="s:feeMcdPercentage"/>
                <xs:element ref="s:HasWarrPayFlag"/>
                <xs:element ref="s:hrsSequenceNo"/>
                <xs:element ref="s:lbrActualHours"/>
                <xs:element ref="s:lbrComebackFlag"/>
                <xs:element ref="s:lbrMultivalueCount"/>
                <xs:element ref="s:linActualWork"/>
                <xs:element ref="s:linAddOnFlag"/>
                <xs:element ref="s:mlsCost"/>
                <xs:element ref="s:mlsLineCode"/>
                <xs:element ref="s:mlsSale"/>
                <xs:element ref="s:totCoreSale"/>
                <xs:element ref="s:totForcedShopCharge"/>
                <xs:element ref="s:totMiscCount"/>
                <xs:element ref="s:totPartsCount"/>
                <xs:element ref="s:warFailedPartNo"/>
                <xs:element ref="s:Zip"/>
                <xs:element ref="s:prtQtyOnHand"/>
                <xs:element ref="s:prtQtyBackordered"/>
                <xs:element ref="s:prtQtyFilled"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PostedDate">
        <xs:complexType/>
    </xs:element>
    <xs:element name="SpecialCustFlag" type="xs:NCName"/>
    <xs:element name="VIN" type="xs:NMTOKEN"/>
    <xs:element name="disDebitAccountNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disUserID">
        <xs:complexType/>
    </xs:element>
    <xs:element name="feeOpCodeDesc">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsActualHours">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtBin1">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtClass">
        <xs:complexType/>
    </xs:element>
    <xs:element name="PurchaseOrderNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtDesc">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrCost">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WaiterFlag" type="xs:NCName"/>
    <xs:element name="linCause">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtSource">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtCoreSale">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totLocalTax">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApptTime">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrLaborType">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CityStateZip" type="xs:string"/>
    <xs:element name="Comments">
        <xs:complexType/>
    </xs:element>
    <xs:element name="ContactEmailAddress">
        <xs:complexType/>
    </xs:element>
    <xs:element name="OrigPromisedDate" type="xs:NMTOKEN"/>
    <xs:element name="RONumber" type="xs:integer"/>
    <xs:element name="ServiceAdvisor" type="xs:integer"/>
    <xs:element name="disDebitTargetCo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="feeOpCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsCost">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsPercentage">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrSequenceNo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="linServiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="prtSpecialStatus">
        <xs:complexType/>
    </xs:element>
    <xs:element name="rapApptID">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totLubeSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totSoldHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="payInsuranceFlag">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lbrOpCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="ClosedDate">
        <xs:complexType/>
    </xs:element>
    <xs:element name="ErrorLevel">
        <xs:complexType/>
    </xs:element>
    <xs:element name="Name2">
        <xs:complexType/>
    </xs:element>
    <xs:element name="OpenDate" type="xs:NMTOKEN"/>
    <xs:element name="VehID" type="xs:integer"/>
    <xs:element name="hrsHourType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsLaborType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsTechNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrTechNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrTimeCardHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="linEstDuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="prtUnitServiceCharge">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totPartsSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totShopChargeSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totSupp4Tax">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="warFailureCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtComp">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtCoreCost">
        <xs:complexType/>
    </xs:element>
    <xs:element name="Mileage" type="xs:integer"/>
    <xs:element name="Address" type="xs:string"/>
    <xs:element name="ComebackFlag" type="xs:NCName"/>
    <xs:element name="ContactPhoneNumber" type="xs:integer"/>
    <xs:element name="EstComplDate" type="xs:NMTOKEN"/>
    <xs:element name="MakeDesc" type="xs:NCName"/>
    <xs:element name="OrigPromisedTime">
        <xs:complexType/>
    </xs:element>
    <xs:element name="Remarks">
        <xs:complexType/>
    </xs:element>
    <xs:element name="VehicleColor" type="xs:NCName"/>
    <xs:element name="feeFeeID">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsLineCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsOtherHours">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrOpCodeDesc">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtOutsideSalesmanNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtSale">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtCompLineCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="BookedDate">
        <xs:complexType/>
    </xs:element>
    <xs:element name="EstComplTime" type="xs:NMTOKEN"/>
    <xs:element name="MileageOut">
        <xs:complexType/>
    </xs:element>
    <xs:element name="Model" type="xs:NCName"/>
    <xs:element name="SoldByDealerFlag" type="xs:NCName"/>
    <xs:element name="TagNo" type="xs:NCName"/>
    <xs:element name="feeLineCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="linComplaintCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtEmployeeNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtLaborType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtPartNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totRoSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="linStoryEmployeeNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="AddOnFlag" type="xs:NCName"/>
    <xs:element name="ApptFlag" type="xs:NCName"/>
    <xs:element name="lbrMcdPercentage">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LastServiceDate" type="xs:NMTOKEN"/>
    <xs:element name="OrigWaiterFlag" type="xs:NCName"/>
    <xs:element name="PriorityValue" type="xs:integer"/>
    <xs:element name="RentalFlag" type="xs:NCName"/>
    <xs:element name="Year" type="xs:integer"/>
    <xs:element name="disDebitControlNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="linComebackFlag">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="linDispatchCode">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totLaborSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totMiscSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ApptDate">
        <xs:complexType/>
    </xs:element>
    <xs:element name="DeliveryDate" type="xs:NMTOKEN"/>
    <xs:element name="Make" type="xs:NCName"/>
    <xs:element name="MileageLastVisit" type="xs:integer"/>
    <xs:element name="PromisedTime" type="xs:NMTOKEN"/>
    <xs:element name="VoidedDate">
        <xs:complexType/>
    </xs:element>
    <xs:element name="feeCost">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsSoldHours">
        <xs:complexType/>
    </xs:element>
    <xs:element name="linCampaignCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="linStatusCode">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="linStatusDesc">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="prtQtyOrdered">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtQtySold">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totLaborCost">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totMiscCost">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totPartsCost">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totSubletSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totSupp3Tax">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BookerNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="Cashier">
        <xs:complexType/>
    </xs:element>
    <xs:element name="CustNo" type="xs:integer"/>
    <xs:element name="HostItemID" type="xs:string"/>
    <xs:element name="Name1" type="xs:string"/>
    <xs:element name="PromisedDate" type="xs:NMTOKEN"/>
    <xs:element name="feeLaborType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsSale">
        <xs:complexType/>
    </xs:element>
    <xs:element name="linLineCode">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="prtCost">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtList">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtMcdPercentage">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totStateTax">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totSupp2Tax">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="mlsType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="punWorkType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="punMultivalueCount" type="xs:integer"/>
    <xs:element name="punTechNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="punTimeOn">
        <xs:complexType/>
    </xs:element>
    <xs:element name="punWorkDate">
        <xs:complexType/>
    </xs:element>
    <xs:element name="punTimeOff">
        <xs:complexType/>
    </xs:element>
    <xs:element name="punDuration">
        <xs:complexType/>
    </xs:element>
    <xs:element name="punLineCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="BookedTime">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disLevel">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disMultivalueCount" type="xs:integer"/>
    <xs:element name="feeType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totLaborCount">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dedMaximumAmount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disLaborDiscount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="feeSale">
        <xs:complexType/>
    </xs:element>
    <xs:element name="linStoryText">
        <xs:complexType/>
    </xs:element>
    <xs:element name="mlsMultivalueCount" type="xs:integer"/>
    <xs:element name="PhoneDesc">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PhoneExt">
        <xs:complexType/>
    </xs:element>
    <xs:element name="punAlteredFlag">
        <xs:complexType/>
    </xs:element>
    <xs:element name="StatusDesc" type="xs:NCName"/>
    <xs:element name="BlockAutoMsg">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disClassOrType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrFlagHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lbrComebackTech">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totCoreCost">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="feeLOPorPartSeqNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="payPaymentsMade" type="xs:decimal"/>
    <xs:element name="totPayType">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="mlsOpCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="warLaborSequenceNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="dedMultivalueCount" type="xs:integer"/>
    <xs:element name="hrsMultivalueCount" type="xs:integer"/>
    <xs:element name="lbrOperationType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disTotalDiscount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="ModelDesc" type="xs:NCName"/>
    <xs:element name="totLubeCost">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="payPaymentAmount">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totActualHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="HasIntPayFlag" type="xs:NCName"/>
    <xs:element name="LicenseNumber">
        <xs:complexType/>
    </xs:element>
    <xs:element name="mlsLaborType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="mlsSequenceNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="payMultivalueCount" type="xs:integer"/>
    <xs:element name="prtExtendedSale">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtLaborSequenceNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="StatusCode" type="xs:NCName"/>
    <xs:element name="totLaborDiscount">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totOtherHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totTimeCardHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dedLineCodes">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disDiscountID">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disOverridePercent">
        <xs:complexType/>
    </xs:element>
    <xs:element name="EmailAddress">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsFlagHours">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsTimeCardHours">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrLineCode">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lbrSoldHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="linBookerNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="LotLocation">
        <xs:complexType/>
    </xs:element>
    <xs:element name="mlsOpCodeDesc">
        <xs:complexType/>
    </xs:element>
    <xs:element name="OpenTime" type="xs:NMTOKEN"/>
    <xs:element name="PhoneNumber">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="warFailedPartsCount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="dedSequenceNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disLopSeqNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disOverrideTarget">
        <xs:complexType/>
    </xs:element>
    <xs:element name="feeLOPorPartFlag">
        <xs:complexType/>
    </xs:element>
    <xs:element name="feeMultivalueCount" type="xs:integer"/>
    <xs:element name="HasCustPayFlag" type="xs:NCName"/>
    <xs:element name="lbrComebackRO">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrComebackSA">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrForcedShopCharge">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totFlagHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totMultivalueCount" type="xs:integer"/>
    <xs:element name="totShopChargeCost">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totSubletCount">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="warAuthorizationCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="warClaimType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="warConditionCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="warLineCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="warMultivalueCount" type="xs:integer"/>
    <xs:element name="dedActualAmount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="dedLaborType">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disAppliedBy">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disDesc">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disManagerOverride">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disOverrideGPPercent">
        <xs:complexType/>
    </xs:element>
    <xs:element name="hrsMcdPercentage">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrOtherHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="mlsMcdPercentage">
        <xs:complexType/>
    </xs:element>
    <xs:element name="payCPTotal" type="xs:decimal"/>
    <xs:element name="payPaymentCode">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PhoneMultivalueCount" type="xs:integer"/>
    <xs:element name="prtExtendedCost">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totDiscount">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totPartsDiscount">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totRoSalePostDed">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dedPartsAmount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disOverrideAmount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disSequenceNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="EmailDesc">
        <xs:complexType/>
    </xs:element>
    <xs:element name="feeSequenceNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="linMultivalueCount" type="xs:integer"/>
    <xs:element name="linStorySequenceNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtLineCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtMultivalueCount" type="xs:integer"/>
    <xs:element name="prtSequenceNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="rapMultivalueCount" type="xs:integer"/>
    <xs:element name="totLaborSalePostDed">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totLubeCount">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totPartsSalePostDed">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totRoCost">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totRoTax">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totSubletCost">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dedLaborAmount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disLineCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disOriginalDiscount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disOverrideGPAmount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="disPartsDiscount">
        <xs:complexType/>
    </xs:element>
    <xs:element name="EmailMultivalueCount" type="xs:integer"/>
    <xs:element name="feeMcdPercentage">
        <xs:complexType/>
    </xs:element>
    <xs:element name="HasWarrPayFlag" type="xs:NCName"/>
    <xs:element name="hrsSequenceNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="lbrActualHours">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lbrComebackFlag">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lbrMultivalueCount" type="xs:integer"/>
    <xs:element name="linActualWork">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="linAddOnFlag">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="mlsCost">
        <xs:complexType/>
    </xs:element>
    <xs:element name="mlsLineCode">
        <xs:complexType/>
    </xs:element>
    <xs:element name="mlsSale">
        <xs:complexType/>
    </xs:element>
    <xs:element name="totCoreSale">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totForcedShopCharge">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totMiscCount">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totPartsCount">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="s:V"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="warFailedPartNo">
        <xs:complexType/>
    </xs:element>
    <xs:element name="Zip" type="xs:integer"/>
    <xs:element name="prtQtyOnHand">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtQtyBackordered">
        <xs:complexType/>
    </xs:element>
    <xs:element name="prtQtyFilled">
        <xs:complexType/>
    </xs:element>
    <xs:element name="ErrorCode" type="xs:integer"/>
    <xs:element name="V">
        <xs:complexType mixed="true">
<!--            <xs:attribute name="Idx" use="required" type="xs:integer"/>-->
        </xs:complexType>
    </xs:element>
    <xs:element name="ErrorMessage">
        <xs:complexType/>
    </xs:element>
</xs:schema>
