config/xsd/cdk_parts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dmotorworks.com/pip-extract-parts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Parts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="PartsInventory">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OnOrderQty" type="xs:unsignedByte" />
                            <xs:element name="LastSaleDate" type="xs:string" />
                            <xs:element name="HostItemID" type="xs:unsignedInt" />
                            <xs:element name="PartNumber" type="xs:unsignedInt" />
                            <xs:element name="Class" type="xs:unsignedShort" />
                            <xs:element name="Description" type="xs:string" />
                            <xs:element name="BOPCK" type="xs:string" />
                            <xs:element name="Source" type="xs:unsignedByte" />
                            <xs:element name="Pack" type="xs:unsignedByte" />
                            <xs:element name="Multiple" type="xs:unsignedByte" />
                            <xs:element name="PriceUnit" type="xs:string" />
                            <xs:element name="PackMultipleFlag" type="xs:string" />
                            <xs:element name="Cost" type="xs:decimal" />
                            <xs:element name="List" type="xs:decimal" />
                            <xs:element name="Trade" type="xs:decimal" />
                            <xs:element name="Comp" type="xs:string" />
                            <xs:element name="Exchange" />
                            <xs:element name="ABCD" type="xs:string" />
                            <xs:element name="Price6" />
                            <xs:element name="Price7" />
                            <xs:element name="PNC" type="xs:string" />
                            <xs:element name="RBCode" type="xs:string" />
                            <xs:element name="ExtraDS" />
                            <xs:element name="UpdateCode" type="xs:string" />
                            <xs:element name="CommentFlag" />
                            <xs:element name="OldOnHand" />
                            <xs:element name="NewOrderQty" type="xs:string" />
                            <xs:element name="Bin1" type="xs:string" />
                            <xs:element name="Bin2" type="xs:string" />
                            <xs:element name="Bin3" type="xs:string" />
                            <xs:element name="OnHand" type="xs:unsignedByte" />
                            <xs:element name="MemoPartFlag" type="xs:string" />
                            <xs:element name="DeletePartFlag" />
                            <xs:element name="BRP" type="xs:string" />
                            <xs:element name="BSL" type="xs:string" />
                            <xs:element name="FullBin" />
                            <xs:element name="SpecialStatus" type="xs:string" />
                            <xs:element name="DateAdded" type="xs:date" />
                            <xs:element name="LastCountDate" type="xs:string" />
                            <xs:element name="Price8" />
                            <xs:element name="Price9" type="xs:string" />
                            <xs:element name="Price10" type="xs:string" />
                            <xs:element name="MonthsNoReceipt" type="xs:string" />
                            <xs:element name="MonthsNoSale" type="xs:unsignedByte" />
                            <xs:element name="LastTransDate" type="xs:string" />
                            <xs:element name="BaseCostLIFO" />
                            <xs:element name="BegQtyLIFO" />
                            <xs:element name="MTDEmerPurchase" />
                            <xs:element name="MTDPlusAdj" />
                            <xs:element name="MTDMinusAdj" />
                            <xs:element name="MTDLostSales" type="xs:string" />
                            <xs:element name="Comment" />
                            <xs:element name="Misc" type="xs:string" />
                            <xs:element name="Manufacturer" type="xs:string" />
                            <xs:element name="AccountingAccount" type="xs:string" />
                            <xs:element name="ABCXYZ" />
                            <xs:element name="PriorYearSales1" type="xs:string" />
                            <xs:element name="PriorYearSales2" type="xs:string" />
                            <xs:element name="PriorYearSales3" type="xs:string" />
                            <xs:element name="DateLastReceipted" />
                            <xs:element name="ErrorLevel" type="xs:unsignedByte" />
                            <xs:element name="ErrorMessage" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ErrorCode" type="xs:unsignedByte" />
                <xs:element name="ErrorMessage" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>